.header {
    grid-area: h;
    background-color: #42aaff;
    display: inline-block;
  }


  .header img {
    width: 100px;
    margin-left: 5%;
  }
  .h1 {
    display: inline-block;
  }
  .loginBlock {
    float: right;
  }
  .loginBlock a {
    color: #ffe5b4;
  }

  .logout {
    margin: 15px 30px 20px 20px;
    
  }
  .ava {
    margin: 10px;
    padding: 0;
    position: relative;
    width:64px;
    background: #c2c2c2;
    border: 1px solid #000;
    border-radius:3px;
  }