.header {
    grid-area: h;
    background-color: #42aaff;
  }
  .header img {
    width: 75px;
  }
  .headerImg img {
    width: 650px;
  }
  .loginBlock {
    float: right;
  }
  .loginBlock a {
    color: #ffe5b4;
  }