.header {
    grid-area: h;
    background-color: #42aaff;
    display: inline-block;
  }
  .h1 {
    display: inline-block;
  }
  .loginBlock {
    float: right;
  }
  .loginBlock a {
    color: #ffe5b4;
    text-decoration: none;
  }

  .logout {
    opacity: 0;
    transition: all ease 0.8s;
    position: relative;
    left: 14px;
    top: -40px;

  }
  .logout span {
    background-color: whitesmoke;
    position: relative;
    top: -15px;
    color: rebeccapurple;
  }
  .logout button {
    width: 65px;
    height: 25px;
    position: relative;
    top: 10px;
    -webkit-appearance: button;
  }
  .logout:hover {
    opacity: 1;
  }
 
  .loginWindow{
    display: flex;
    flex-direction: column;
  }
  .loginWindow img {
    margin: 10px;
    padding: 0;
    position: relative;
    width:64px;
    background: #c2c2c2;
    border: 4px solid greenyellow;
    border-radius:3px;
  }
  
