.nav{
    grid-area: n;
    background-color: #00ffff;
    height: 90vh;
    width: 160px;
    -webkit-appearance: menulist-text;
  }
.item a {
    color: #FF0000;
    text-decoration: none;
}
.item a.active {
  color: black;
}