.app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  "n h h"
  "c c c";
  grid-template-rows: 2fr 5fr 1fr;
  grid-template-columns: 0fr 10fr 5fr;
  grid-gap: 7px;
  background-color: white;
}
.app-wrapper-content {
  grid-area: c;
  background-color: #DCDCDC;
}


