.app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  "n h h"
  "n c c"
  "n c c"
  "n c c";
  grid-template-rows: 1fr 9fr 9fr 9fr;
  grid-template-columns: 0fr 10fr 5fr;
  background-color: hsl(0,10%,95%);
}
.app-wrapper-content {
  grid-area: c;
  /* background-color: #DCDCDC; */
}


