.Dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems{
    padding: 10px;
}

.Messages{
    padding: 10px;
}
.message{

}
.dialogsItems a {
    text-decoration: none;
    color: red;
}
.dialogsItems a.active {
     color: black;
}
/* .dialogsItems a.item.active {
    color: red;
} */
